.featured-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 1140px;
}

.featured-item {
  padding: 2rem;
  background-color: var(--background-accent);
  border-left: 3px solid var(--secondary-muted);
}

.featured-item h4 {
  margin-bottom: 1rem;
  margin-top: 0;
}

.featured-item p {
  margin-bottom: 0;
}
