h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--text-serif);
  line-height: 1.15;
  font-weight: 500;
  margin: 4rem 0 1rem;
  &:first-child {
    margin-top: 1rem;
  }
}

b,
strong {
  font-weight: 700;
}

h1,
.heading-1 {
  font-size: var(--text-6xl);
}
h2,
.heading-2 {
  font-size: var(--text-4xl);
}
h3,
.heading-3 {
  font-size: var(--text-2xl);
}
h4,
.heading-4 {
  font-size: var(--text-xl);
}
h5 {
  font-size: var(--text-lg);
}

h6 {
  font-size: var(--text-base);
}

p {
  margin-block: 0 1rem;
  &:last-child {
    margin-block: 0 0;
  }
}

p,
ul,
li {
  a {
    text-decoration: underline;
  }
}

li {
  line-height: 2;
}

a {
  text-decoration: none;
  color: inherit;
}

.text-primary {
  color: var(--primary);
}

.text-bold {
  font-weight: bold;
}

.text-accent {
  color: var(--accent);
}

.section-title {
  color: var(--icon);
  /* margin: 1.5rem auto 1rem; */
}

.section-title span {
  display: block;
  color: var(--accent-foreground);
  font-size: var(--text-xl);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: var(--text-sans);
  margin-bottom: 0.5rem;
  font-weight: 300;
}

.section-title,
.section-title + p {
  text-align: center;
}

.text-left {
  text-align: left;
}

.section-title.text-left,
.section-title.text-left + p {
  text-align: left;
}

/* .dark,
[data-theme='dark'] {
	.section-title {
		color: var(--primary);
	}
} */
